/* import font family */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}
h1 {
  font-size: 50px;
}
h2 {
  font-size: 40px;
}
.tomato-color {
  color: tomato;
}

p {
  font-weight: 100;
}

.flexible-container {
  display: flex;
  margin-bottom: 150px;
}

.half-width {
  width: 50%;
  padding: 10%;
}

.half-width-shadow {
  width: 50%;
  padding: 10%;
  box-shadow: 10px 10px 40px gray;
  width: 40%;
  margin-left: 5%;
  margin-right: 5%;
  padding-left: 20px;
  border-radius: 5px;
}

.half-width img {
  width: 100%;
}

.link-button {
  text-decoration: none;
  background-image: linear-gradient(orange, tomato);
  padding: 10px 30px;
  border-radius: 5px;
  color: white;
  font-weight: 400;
}

.top-banner {
  background-image: url(images/illustrators/top-banner.png);
  background-repeat: no-repeat;
}

.dream-big {
  background-image: url(images/illustrators/dream-bg.png);
  background-repeat: no-repeat;
  background-position: right;
}

.experience {
  background-image: url(images/illustrators/exp-bg.png);
  background-repeat: no-repeat;
  background-position: left;
}
